#kofibutton {
	text-align: center;
	text-decoration: none;
}
/*
body {
	background: #33303b !important;
}
*/

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src:
		local('Source Sans Pro Regular'),
		local('SourceSansPro-Regular'),
		/* from https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7l.woff2 */
		url('../webfonts/Source_Sans_Pro.woff2') format('woff2');
}

figure > img {
	display: block;
	margin: 0 auto;
}

figcaption p {
	text-align: center;
	font-style: italic;
}

/*
a:hover {
	border-bottom-color: transparent;                                                                         
■   color: #e5ab65 !important;                                                                                
}
a:active {
	color: #e5ab65 !important;                                                                                
}
*/
